n8n/templates/job_opportunities.json
{
  "name": "job-opportunities",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-5-sonnet-20240620",
          "mode": "list",
          "cachedResultName": "Claude 3.5 Sonnet (Old)"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        180,
        180
      ],
      "id": "fff580c2-ca38-4433-a888-2d5b12542ad8",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "{{ anthropic_credentials_id }}",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<root>\n<from>{% raw %}{{ $json.From }}{% endraw %}</from>\n<subject>{% raw %}{{ $json.Subject }}{% endraw %}</subject>\n<content>{% raw %}{{ $json.snippet }}{% endraw %}</content>\n</root>",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Your role is to determine if the email is related to a job opportunity or not.\n\nRespond with a json object with the following fields\n - is_job_opportunity: can be true or false\n - reason: explain your answer\n\nThink carefully about your answer. Take into consideration that emails can also be forwarded."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        240,
        -60
      ],
      "id": "f05b3be8-f3cf-4ce1-851f-a0bf028aa7f1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -160,
        -60
      ],
      "id": "36267f37-e8f7-41bd-9761-491b21043f9f",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "{{ gmail_credentials_id }}",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d4d736b-fcea-4394-8d59-abb0e31d3e81",
              "name": "session",
              "value": "={% raw %}{{ $json.threadId }}{% endraw %}",
              "type": "string"
            },
            {
              "id": "b2e0302a-d4d1-4eda-9392-09431b39b4bf",
              "name": "snippet",
              "value": "={% raw %}{{ $json.snippet }}{% endraw %}",
              "type": "string"
            },
            {
              "id": "5dc04f99-1e42-4a00-9091-a3865130ad47",
              "name": "Subject",
              "value": "={% raw %}{{ $json.Subject }}{% endraw %}",
              "type": "string"
            },
            {
              "id": "8fbfc9cd-f22f-4fcc-b887-d899b9ab7acd",
              "name": "From",
              "value": "={% raw %}{{ $json.From }}{% endraw %}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        -60
      ],
      "id": "ffc2d72e-5407-4dad-830f-9fffcf7039a5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"is_job_opportunity\": {\n\t\t\t\"type\": \"boolean\"\n\t\t},\n\t\t\"reasoning\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        420,
        160
      ],
      "id": "ca0bcfcc-b996-4efe-9f7b-b14690b6a1d0",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "18b4ea85-5d80-44b4-b7b9-29cf0cce5a37",
              "leftValue": "={% raw %}{{ $json.output.is_job_opportunity }}{% endraw %}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        600,
        -60
      ],
      "id": "064663e3-cc6b-4e61-8568-5df8331eadd3",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        760,
        340
      ],
      "id": "035e5f55-0bde-477d-b07e-03bd3ab40d9f",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appON0eUxCQ2ZZWj4",
          "mode": "list",
          "cachedResultName": "Job opportunities",
          "cachedResultUrl": "https://airtable.com/appON0eUxCQ2ZZWj4"
        },
        "table": {
          "__rl": true,
          "value": "tblqvfgYAjDrLuhiQ",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/appON0eUxCQ2ZZWj4/tblqvfgYAjDrLuhiQ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={% raw %}{{ $json.output.name }}{% endraw %}",
            "email": "={% raw %}{{ $json.output.email }}{% endraw %}",
            "company": "={% raw %}{{ $json.output.company }}{% endraw %}",
            "date": "={% raw %}{{ new Date($json.output.date).toISOString() }}{% endraw %}\n"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1260,
        -160
      ],
      "id": "0e06900a-27ef-462d-b5c8-2c4de21ce7ef",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "{{ airtable_credentials_id }}",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<root>\n<from>\n{% raw %}{{ $('Gmail Trigger').item.json.From }}{% endraw %}</from>\n<subject>\n{% raw %}{{ $('Gmail Trigger').item.json.Subject }}{% endraw %}</subject>\n<content>\n{% raw %}{{ $('Gmail Trigger').item.json.snippet }}{% endraw %}</content>\n<gmail_internal_date>\n{% raw %}{{ $('Gmail Trigger').item.json.internalDate }}{% endraw %}\n</gmail_internal_date>\n</root>\n\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Your task is to extract the following fields from the job opportunity content:\n - name (optional)\n - email (cannot be null)\n - company (optional)\n - date (required), in yyyy-mm-dd format\n\nPlease note that some emails can be forwarded, meaning that the relevant name, email and date can sometimes be in the <snippet> field.\nIf email does not look like it's forwarded, then use the \"from\" field to extract name and email, then use \"gmail_internal_date\" to extract date.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        820,
        -160
      ],
      "id": "1575eb38-aa22-4332-9bff-925726167375",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-5-sonnet-20240620",
          "mode": "list",
          "cachedResultName": "Claude 3.5 Sonnet (Old)"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        820,
        40
      ],
      "id": "4ba9e358-2b92-4f97-8af1-2e41dead71be",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "{{ anthropic_credentials_id }}",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": {\n      \"type\": \"string\",\n      \"description\": \"The person's name\"\n    },\n    \"email\": {\n      \"type\": \"string\",\n      \"description\": \"The person's email address\",\n      \"format\": \"email\"\n    },\n    \"company\": {\n      \"type\": \"string\",\n      \"description\": \"The person's company name\"\n    },\n      \"date\": {\n      \"type\": \"string\",\n      \"description\": \"date the email was received, in yyyy-mm-dd\"\n    }\n  },\n  \"required\": [\"email\", \"date\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1020,
        40
      ],
      "id": "681c14d4-1128-4b12-8d66-755d29db2717",
      "name": "Structured Output Parser1"
    }
  ],
  "connections": {
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}